<div class="modal-header">
  <h4 class="modal-title">{{ "USERS.DIALOG.DELETE.TITLE" | translate }}</h4>
  <button class="btn-close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <p>{{ "USERS.DIALOG.DELETE.CONFIRMATION_MESSAGE" | translate }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="cancel()">
    {{ "USERS.DIALOG.ACTIONS.CANCEL" | translate }}
  </button>
  <button class="btn btn-danger" ngbAutofocus (click)="deleteUser()">
    {{ "USERS.DIALOG.ACTIONS.DELETE" | translate }}
  </button>
</div>
