<div class="modal-header">
  <h4 class="modal-title">
    {{ "USERS.DELETE_DIALOG.TITLE" | translate }}
  </h4>
  <button class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <p>
    {{ "USERS.DELETE_DIALOG.CONFIRMATION_MESSAGE" | translate }}
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.dismiss()">
    {{ "USERS.DELETE_DIALOG.ACTIONS.CLOSE" | translate }}
  </button>
  <button class="btn btn-danger" ngbAutofocus (click)="deleteUser()">
    {{ "USERS.DELETE_DIALOG.ACTIONS.DELETE" | translate }}
  </button>
</div>
